.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding-bottom: 25px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
