.place__url-headig {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__url-headig {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
