.cover__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 17.5rem;
  padding-bottom: 32px;
  padding-top: 1rem;
}
