.lead {
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 2.75rem;
}

@media screen and (min-width: 768px) {
  .lead {
    padding-bottom: 3.44rem;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    padding: 0 9.25rem;
    padding-bottom: 5.75rem;
  }
}
