.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;
  margin: 0;
  /* padding-top: 0.56rem; */
}

/* @media screen and (min-width: 768px) {
  .intro__quote {
    padding-top: 0;
  }
} */
