.cover {
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (max-width: 1280px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}
