.place__paragraphs {
  grid-area: content;
  max-height: 508px;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .place__paragraphs {
    row-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    max-height: initial;
  }
}
