@import url(../vendor/normalize.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/lead/lead.css);
@import url(../blocks/content/lead/__title/lead__title.css);
@import url(../blocks/content/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/content/lead/__image/lead__image.css);
@import url(../blocks/content/lead/__titles-container/lead__titles-container.css);

@import url(../blocks/content/intro/intro.css);
@import url(../blocks/content/intro/__container/intro__container.css);
@import url(../blocks/content/intro/__quote/intro__quote.css);
@import url(../blocks/content/intro/__quote-author/intro__quote-author.css);
@import url(../blocks/content/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/content/intro/__title/intro__title.css);
